*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#testimonial-grid-container{
    padding: 5% 3%;
}

#testimonial-1 {
    background-color: #7541c8;
    color: #ffffff;
    position: relative;
}
#testimonial-2 {
    background-color: #48556a;
    color: #ffffff;
}
#testimonial-3, #testimonial-5 {
    background-color: #ffffff;
    color: #48556a;
}
#testimonial-4 {
    background-color: #19212e;
    color: #ffffff;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header .name {
    font-size: 1rem;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #7541c8;
}

.grid-item h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

#quote {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: 0;
}

.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.3);
    font-size: 13px;
}

.name {
    opacity: 70%;
}

.grid-item p {
    opacity: 70%;
}

@media (min-width: 576px){
    #testimonial-grid-container {
        display: flex;
        max-width: 900px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #testimonial-5 {
        flex-basis: 25%;
    }

    #main-left {
        display: flex;
        flex-direction: column;
        flex-basis: 75%;
    } 
    
    #main-left .grid-item {
        margin-right: 15px;
    }

    #top, #bottom {
        display: flex;
        flex-basis: 50%;
    }

    #testimonial-1, #testimonial-4 {
        flex-basis: 65%;
    }
    #testimonial-2, #testimonial-3 {
        flex-basis: 35%;
    }
}